In [1]:
from feature_salad import FeatureSalad
import pandas as pd

In [2]:
fs = FeatureSalad(
    n_numerical=5,
    n_categorical=5,
    n_numerical_int=2,
    n_categorical_int=2,
    n_samples=100,
    start_date='2023-03-01',
    end_date='2023-03-31'
)

In [3]:
fs.generate()

In [5]:
fs.X.dtypes

date         datetime64[s]
computing            int64
traning              int64
simpler            float64
stagnate           float64
middle            category
nuton              float64
shibiao           category
turnovers         category
exceeded          category
armistice         category
dtype: object

In [4]:
fs.X

,date,computing,traning,simpler,stagnate,middle,nuton,shibiao,turnovers,exceeded,armistice
0,2023-03-01 00:00:00,0,5,7.181653,41.694533,66,6.782861,6,nucell,called,marcos
1,2023-03-01 07:16:21,29,13,22.406522,27.043298,47,43.742309,1,needs,bofors,audio
2,2023-03-01 14:32:43,22,0,54.136467,68.918842,11,53.154091,17,spirit,called,giesel
3,2023-03-01 21:49:05,18,26,1.120835,39.247406,15,60.560784,9,trieste,called,audio
4,2023-03-02 05:05:27,10,15,57.533967,7.513482,43,18.928178,25,needs,warns,audio
...,...,...,...,...,...,...,...,...,...,...,...
95,2023-03-29 18:54:32,12,8,9.802658,64.437125,0,6.464629,20,relied,nerves,exhibits
96,2023-03-30 02:10:54,23,26,23.303462,4.788043,39,5.006088,23,blast,ordfer,kilobit
97,2023-03-30 09:27:16,19,25,22.439436,28.476498,31,50.880224,20,anyway,calories,branching
98,2023-03-30 16:43:38,29,15,35.230362,63.133332,12,40.840747,3,targeted,upward,aurora
99,2023-03-31 00:00:00,9,6,24.394945,14.848938,28,72.899380,19,nucell,upward,exhibits

In [ ]:
fs.to_parquet('salad.parquet')